.input {
	width: 100%;
	height: var(--control-height);
	padding: 10px;
	border: 1px solid var(--pearl-gray);
	border-radius: 0;
	/*border-radius: var(--control-radius);*/
	/*border: 1px solid var(--border);*/
	/*background: var(--bg);*/
	/*color: var(--text);*/
	outline: none;
	/*padding: 0 var(--control-pad-x);*/
	font-size: 15px;
	line-height: 1;
	transition: border-color .15s ease, box-shadow .15s ease, background-color .15s ease;
}

.input::placeholder {
	/*color: var(--placeholder);*/
}

.input:hover:not(:disabled) {
	border-color: var(--border-hover);
}

.input:focus {
	border-color: var(--soft-charcoal);
	/*box-shadow: 0 0 0 4px var(--focus);*/
}

/* Error */
.invalid {
	border-color: var(--red-dark);
}
.invalid:focus {
	box-shadow: 0 0 0 4px rgba(216, 115, 115, 0.15);
}

/* Disabled */
.disabled,
.input:disabled {
	background: #f6f4f2;
	color: #9b9390;
	cursor: not-allowed;
}

/* Icons */
.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #8c8c8c;
	pointer-events: none;
}
.iconLeft  { left: 12px; }
.iconRight { right: 12px; }


.withLeftIcon  {
	/*padding-left: calc(var(--control-pad-x) + 22px + var(--icon-gap));*/
}
.withRightIcon {
	/*padding-right: calc(var(--control-pad-x) + 22px + var(--icon-gap));*/
}
