.button {
	border: none;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.2s, color 0.2s, border 0.2s;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'Manrope', sans-serif;
	text-transform: uppercase;
}

/* Sizes */
.sm {
	font-size: 12px;
	padding: 6px 12px;
}

.md {
	font-size: 16px;
	padding: 10px 24px;
}

.lg {
	font-size: 20px;
	padding: 14px 36px;
}


/* Colors */
.primary {
	background: var(--pearl-gray);
	color: var(--soft-charcoal);
	border: 1px solid transparent;
}

.primary:hover:not(.disabled) {
	background: var(--almond-milk);
}

.neutral {
	background: var(--silk-white);
	color: var(--soft-charcoal);
	border: 1px solid transparent;
}

.neutral:hover:not(.disabled) {
	background: var(--almond-milk);
}

.transparent {
	background: transparent;
	color: var(--soft-charcoal);
	border: 1px solid var(--pearl-gray);
}

.transparent:hover:not(.disabled) {
	background: var(--silk-white);
	border: 1px solid var(--silk-white);
}

/* States */
.disabled,
.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}
