.hero {
	position: relative;
	width: 100vw;
	height: 300px;
	margin-left: calc(-50vw + 50%);
	overflow: hidden;
}

@media (min-width: 1023px) {
	.hero {
		height: 100vh;
	}
}

.image {
	width: 100%;
	height: 100%;
	background-image: url("/hero-mobile.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

@media (min-width: 1023px) {
	.image {
		background-image: url("/hero.jpg");
	}
}

/*.hero :global(img) {*/
/*	object-fit: cover;*/
/*}*/

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--silk-white);
	z-index: 1;
	padding-top: 32px;
}

.title {
	font-family: var(--font-cormorant), serif;
}

.subtitle {
	text-align: center;
}
