.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin-left: calc(-50vw + 50%);
	overflow: hidden;
}

.hero :global(img) {
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--soft-nude);
	z-index: 1;
	padding-top: 32px;
}

.title {
	font-family: var(--font-cormorant), serif;
}

.subtitle {

}
