.card {
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 360 / 360;
	overflow: hidden;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease;
}

.wrapper:hover {
	transform: translateY(-4px);
}

.wrapper :global(img) {
	object-fit: cover;
}

.title {
	margin: 16px 0 0 0;
	text-align: center;
	font-size: 15px;
	color: var(--graphite);
}
