.card {
	overflow: hidden;

}

.wrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 360 / 360;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.wrapper :global(img) {
	object-fit: cover;
}

.title {
	margin: 24px 0;
	text-align: center;
}
