@import '@/styles/reset.css';
@import '@/styles/normalize.css';

:root {
	--font-inter: '';
	--font-manrope: '';
	--font-cormorant: '';
	--white: #ffffff;
	--black: #000000;
	--silk-white: #FEF9F6;
	--soft-charcoal: #444444;
	--dusty-blush: #EACDC2;
	--almond-milk: #F3ECE7;
	--pearl-gray: #EAE6E1;
	--warm-gray: #857C78;

	--green: #A6D6B2;
	--green-dark: #80C49F;
	--red: #E7A1A1;
	--red-dark: #D87373;

	--header-height: 64px;
}

html,
body {
	/*font-family: var(--font-manrope), sans-serif;*/
	font-family: var(--font-inter), sans-serif;
	color: var(--soft-charcoal);
}

body {

}

.page {
	padding-top: var(--header-height);
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

p {
	margin-top: 12px;
	font-size: 18px;
	line-height: 1.4;
}
