@import '@/styles/reset.css';
@import '@/styles/normalize.css';

:root {
	--font-inter: '';
	--font-manrope: '';
	--font-cormorant: '';
	--white: #ffffff;
	--black: #000000;
	--silk-white: #FAF8F6;
	--soft-charcoal: #444444;
	--dusty-blush: #EACDC2;
	--almond-milk: #F3ECE7;
	--pearl-gray: #EAE6E1;
	--warm-gray: #857C78;
	--rich-brown: #6B4E3D;

	--primary-hover: #D8AFA3;         /* darker --dusty-blush */
	--neutral-hover: #E5DBD5;         /* darker --almond-milk */
	--border-color: #DDD3CA;
	--border-hover: #CFC4BC;

	--green: #A6D6B2;
	--green-dark: #80C49F;
	--red: #E7A1A1;
	--red-dark: #D87373;

	--header-height: 64px;

	--media-mobile: 767px; /* < 768px */
	--media-tablet: 1023px; /* 768-1023px */

	--control-height: 40px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	/*font-family: var(--font-manrope), sans-serif;*/
	font-family: var(--font-inter), sans-serif;
	color: var(--soft-charcoal);
	font-size: 16px;
	font-weight: 300;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

button {
	font-weight: 300;
}

body {

}

.page {
	flex: 1 1 auto;
	padding-top: var(--header-height);
}

main {
	flex: 1 1 auto;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

p {
	margin-top: 12px;
	font-size: 18px;
	line-height: 1.4;
}

input {
	font-weight: 300;
	padding: 8px 16px;
}

.wFull {
	width: 100%;
}

.hFull {
	height: 100%;
}
