@import '@/styles/reset.css';
@import '@/styles/normalize.css';

:root {
	--font-inter: '';
	--font-manrope: '';
	--font-cormorant: '';
	--white: #ffffff;
	--black: #000000;
	--soft-nude: #F9F5F2;
	--warm-blush: #EFD9D2;
	--dusty-rose: #D4A5A5;
	--deep-taupe: #4B3F3F;
	--warm-gray: #857C78;
	--sand-beige: #E8D9C4;

	--header-height: 64px;
}

html,
body {
	/*font-family: var(--font-manrope), sans-serif;*/
	font-family: var(--font-inter), sans-serif;
	color: var(--deep-taupe);
}

body {

}

.page {
	padding-top: var(--header-height);
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

p {
	font-size: 18px;
}
