.checkout {
	padding: 0 16px;
}

.list,
.promocode,
.summary {
	max-width: 420px;
}

.list {
	max-height: 420px;
	overflow-y: scroll;
	padding: 16px 16px 16px 0;
}

.item {
	margin-bottom: 16px;
}

.promocode,
.summary {
	margin-top: 36px;
}

.subtotal,
.shipping,
.total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 16px;
}

.text {

}

.count {

}

.empty {
	color: var(--warm-gray);
	font-size: 14px;
}

.total {
	font-size: 20px;
	font-weight: 500;
}
