.main {
	max-width: 1200px;
	margin: 0 auto 64px auto;
}

.updated span {
	color: var(--warm-gray);
}

.subtitle {
	margin-top: 24px;
	font-size: 20px;
	color: var(--warm-gray);
}

.main ul {
	/*margin-top: 12px;*/
	list-style-type: circle;
	font-size: 18px;
}

.main li {
	margin-top: 12px;
	margin-left: 20px;
}
