.form {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.success {
	color: var(--green);
	margin-top: 10px;
	text-align: center;
}
