.item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
	min-width: 36px;
	min-height: 36px;
	border: 1px solid transparent;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: border 0.2s;
}

.item:hover:not(.disabled):not(.selected) {
	border: 1px solid var(--pearl-gray);
}

.selected {
	border: 1px solid var(--soft-charcoal);
}

.disabled {
	opacity: 0.3;
	cursor: default;
	pointer-events: none;
}
