/*.philosophy {*/
/*	width: 100%;*/
/*	!*background: var(--silk-white);*!*/
/*	padding: 64px 0;*/
/*}*/
/*.wrapper {*/
/*	width: 1200px;*/
/*	margin: 0 auto;*/
/*}*/

/*.title {*/
/*	font-family: var(--font-cormorant), serif;*/
/*	color: var(--rich-brown);*/
/*	font-size: 48px;*/
/*}*/

/*.text {*/
/*	position: relative;*/
/*	margin-top: 24px;*/
/*	padding: 16px;*/
/*}*/
/*.text:before {*/
/*	content: '';*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 4px;*/
/*	height: 100%;*/
/*	!*background-color: var(--dusty-blush);*!*/
/*	background-color: var(--rich-brown);*/
/*}*/
/*.text p {*/
/*	margin-bottom: 8px;*/
/*}*/




.philosophy {
	background: var(--silk-white);
}

.wrapper {
	margin: 0 auto;
	padding: 32px 0;
	border-bottom: 1px solid var(--pearl-gray);
}

@media (min-width: 1023px) {
	.wrapper {
		max-width: 1200px;
		padding: 96px 0;
	}
}

.title {
	font-family: var(--font-cormorant), serif;
	font-size: 32px;
	text-align: center;
	color: var(--rich-brown);
	margin-bottom: 24px;
}

@media (min-width: 1023px) {
	.title {
		font-size: 48px;
		margin-bottom: 32px;
	}
}

.text {
	margin: 0 auto;
	text-align: center;
	padding: 0 12px;
}

.text p {
	margin-bottom: 12px;
}

@media (min-width: 1023px) {
	.text {
		padding: 0 16px;
		max-width: 720px;
	}
	.text p {
		margin-bottom: 16px;
	}
}
