.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 6px;
}

.imageWrapper {
	position: relative;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 2 / 3;
	overflow: hidden;
}

.imageWrapper:nth-child(1) {
	grid-column: 1 / span 2;
}

.imageWrapper:nth-child(2),
.imageWrapper:nth-child(3) {
	grid-column: auto;
}

.imageWrapper:nth-child(4) {
	grid-column: 1 / span 2;
}

.image {

}

.details {
	margin-top: 48px;
	padding: 0 48px;
}

.label {
	font-size: 14px;
	color: var(--warm-gray);
	text-transform: capitalize;
}

.block {
	margin: 20px 0;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 20px;
}

.price {
	font-size: 16px;
	color: var(--warm-gray);
}

.sizeList {
	margin-top: 8px;
	display: flex;
	gap: 12px;
}

.sizeGuide {
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}
