.item {
	display: flex;
	gap: 16px;
}

.imageWrapper {
	position: relative;
	flex-shrink: 0;
}

.image {
	object-fit: cover;
	width: 64px;
	height: 64px;
	border-radius: 0;
}

.quantity {
	position: absolute;
	top: -6px;
	right: -6px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20px;
	height: 20px;
	font-size: 12px;
	border-radius: 50%;
	color: var(--white);
	background-color: rgba(34, 34, 34, 0.6); /* soft-charcoal */
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
}

.title {

}

.size,
.color {
	font-size: 14px;
	line-height: 1.2;
	color: var(--warm-gray);
}

.price {

}
