.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	aspect-ratio: 2/3;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
}
