.lookbook {
	background: var(--silk-white);
}

.wrapper {
	margin: 0 auto;
	padding: 32px 12px;
}

@media (min-width: 1023px) {
	.wrapper {
		max-width: 1200px;
		padding: 64px 16px;
	}
}

.title {
	font-family: var(--font-cormorant), serif;
	font-size: 32px;
	margin: 16px 0;
	text-align: center;
	color: var(--rich-brown);
}
@media (min-width: 1023px) {
	.title {
		font-size: 48px;
	}
}

.text {
	margin: 12px auto 20px auto;
	text-align: center;
	max-width: 720px;
	font-size: 16px;
	line-height: 1.5;
}

@media (min-width: 1023px) {
	margin: 16px auto 40px auto;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 32px;
	justify-content: center;
	align-items: start;
}
